<%= form_with(model: @event, local: true) do |f| %>
<div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-4"><%= f.label:企業名 %></div>
      <div class="col-lg-4"><%= f.text_field :title %></div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-4"><%= f.label:日時 %></div>
      <div class="col-lg-4"> <%= f.datetime_select :start_time %></div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-4"><%= f.label:商談内容 %></div>
      <div class="col-lg-4"><%= f.text_field :content %></div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row">
     <div class="col-lg-2"></div>
     <div class="col-lg-4"><%= f.submit :予定追加 %></div>
     <div class="col-lg-6"></div>
  </div>
  <% end %>
</div>