<h5>日報一覧</h5>
<div class="container">

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>日時</th>
        <th>企業名</th>
        <th>登録者</th>
        <th>コメント数</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report| %>
      <tr>
        <td><%= report.created_at.to_s(:datetime_jp) %></td>
        <td><%= report.corporate.name %></td>
        <td><%= report.customer.name %></td>
        <td><%= link_to "#{report.comments.count} コメント", report_path(report.id) %></td>
        <td><%= link_to "日報を見る", report_path(report.id), class:'btn btn-success' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
